<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
      <allow roles="Estudiante"/>
      <deny roles="Tutor"/>
      <deny roles="Docente"/>
      <deny roles="Directivo"/>
      <deny roles="Admin"/>
    </authorization>
  </system.web>
</configuration>

